<div class="filter-box">
  <div *ngFor="let taxonomy of taxonomies">
    <h4 class="heading">{{taxonomy.name}}</h4>
    <ul class="taxonomy">
      <li *ngFor="let taxon of taxonomy.taxons" class="filter">
        <label class="vertical-filters-label common-customCheckbox">  
        <input type="checkbox" [checked]="isChecked(taxonomy, taxon)" 
          (click)="taxonSelected(taxonomy, taxon, $event.target.checked)">  
          <span>{{taxon.name}}</span>
          <span class="taxon-count">({{taxon.count}})</span>
        <div class="common-checkboxIndicator" ></div>
      </label>
      </li>
    </ul>
  </div>
</div>